﻿@model IssueTracker.Models.Issue

@{
    ViewData["Title"] = "Details";
}

@functions{
    public string getStatus(int s)
    {
        string result = "";
        if (s == 0)
            result = "Open";
        else if (s == 1)
            result = "In progress";
        else if (s == 2)
            result = "Closed";

        return result;
    }

    public string getPriority(int p)
    {
        string result = "";
        if (p == 0)
            result = "Low";
        else if (p == 1)
            result = "Medium";
        else if (p == 2)
            result = "High";

        return result;
    }
}

<h1>Details</h1>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @{ string status = getStatus(Model.Status);}
            @Html.DisplayFor(model => status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @{ string priority = getPriority(Model.Priority);}
            @Html.DisplayFor(model => priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    @Html.ActionLink("Back", "Index", "Issue", new { product = Model.Product_Id, status = 0 }, null)
</div>
