﻿@model IEnumerable<IssueTracker.Models.Issue>

@{
    ViewData["Title"] = "Issues";
}

@functions{
    public string getStatus(int s)
    {
        string result = "";
        if (s == 0)
            result = "Open";
        else if (s == 1)
            result = "In progress";
        else if (s == 2)
            result = "Closed";

        return result;
    }

    public string getPriority(int p)
    {
        string result = "";
        if (p == 0)
            result = "Low";
        else if (p == 1)
            result = "Medium";
        else if (p == 2)
            result = "High";

        return result;
    }
}

<h1>Issues</h1>

<p>
    @Html.ActionLink("New issue", "Create", "Issue", new { product = Context.Request.Query["product"] }, null)
</p>

@using (Html.BeginForm("Index", "Issue", FormMethod.Get))
{
<p>
    @Html.TextBox("titleSearch")
    &emsp;
    @Html.ActionLink("Open", "Index", "Issue", new { product = Context.Request.Query["product"], status = 0 }, null)
    &nbsp;
    @Html.ActionLink("In progress", "Index", "Issue", new { product = Context.Request.Query["product"], status = 1 }, null)
    &nbsp;
    @Html.ActionLink("Closed", "Index", "Issue", new { product = Context.Request.Query["product"], status = 2 }, null)
    <br />
    <input type="hidden" name="product" value="@Context.Request.Query["product"]" />
    <input type="hidden" name="status" value="@Context.Request.Query["status"]" />
    <input type="submit" value="Search by title" />
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                Created
            </th>
            <th>
                Updated
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var status = getStatus(item.Status);
            var priority = getPriority(item.Priority);
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <!--<td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>-->
            </tr>
        }
    </tbody>
</table>
